

main section  {
	padding: 2.5rem 0;
  }




/*********************/    /*********************/
/******        SEARCH   section 1         ******/
/*********************/   /*********************/
h1 {
    margin:0;
    text-align: center;
    color: white;
	font-size: var(--fontsize-l);

	@media (width > 40em) {
        font-size: 3rem;
    }
}

main > section:nth-child(1) {
    background-image: url('../images/search_cover');
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

	label{
		display: grid;
		grid-template-columns: 3rem 1fr;
		place-items: center;
        background-color: var(--color-background);
        border-radius: .5rem;

		svg {
			grid-area: 1 / 1 / 1 / 2;
			width: 24px;
			height: 24px;
		}

		input {
			grid-area: 1 / 1 / 1 / 4;
			padding-inline-start: 3rem;
            background-color: transparent;
			block-size: 3rem;
			border: 1px solid var(--color-stroke);
			border-radius: .5rem;
            width: 15rem;

            @media (width > 40rem) {
                width: 30rem;
            }
		}
	}
}





/*********************/    /*********************/
/******             section 2            ******/
/*********************/   /*********************/
main div:nth-child(2) section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	@media (width > 40rem) {
        flex-direction: row-reverse;
		justify-content: space-between;
    }



	label {
		font-size: var(--fontsize-s);
	}
	select {
		border: none;
		background-color: var(--color-background);
		font-weight: bold;
	}

	ul {
		display: flex;
		font-size: var(--fontsize-s);

		button {
			border: none;
			background-color: var(--color-background);
		}

			button[aria-selected="true"] {
				border-bottom: 2px solid var(--color-extra);
			}
			button[aria-selected="false"] {
				color: var(--color-secondary-text);
			}
	}
}









/*********************/    /*********************/
/******   VOLGENDE EVENEMENT   section 3  ******/
/*********************/   /*********************/
main section:nth-child(3) ul {
    display: grid;
    grid-template-columns:repeat( var(--columns, 1),1fr);
    gap: 1em;

    @media (width > 30em) {
        --columns:2;
    }
    @media (width > 40rem) {
        --columns:4;
    }
    
    li {
		background: var(--color-elevated-background);
		border-radius: 0.75rem;

        a{
            font-size: var(--fontsize-s);
            padding: 1em;
    
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: .25rem;
    
            img {
                width: 1.5rem;
            }
        }
    }	
}


/* animatie */
@keyframes gradient-animation {
    0% {
      background-position:left bottom;
    }
    100% {
      background-position:right top;
    }
  }

  main section:nth-child(3) ul {
      li[aria-label="gradient"] a {
        background-image:var(--gradient);
        background-size:200% 200%;
        background-position:left bottom;
        animation-name:gradient-animation;
        animation-duration:1s;
        animation-timing-function:linear;
        animation-iteration-count: infinite;
        animation-play-state:paused;
      }
      
      li[aria-label="gradient"]:hover a {
        border-radius: 0.75rem;
        --gradient:linear-gradient(
          45deg,
          var(--color-extra),
          var(--color-extra-background),
          var(--color-ster),
          var(--color-extra-secondary),
          var(--color-extra),
          var(--color-extra-background),
          var(--color-ster)
        );
        animation-play-state:running;
      }
  }

  
 



/*********************/    /*********************/
/******   aanbevelingen   section 4  ******/
/*********************/   /*********************/

main section:nth-child(4) p {
    color: var(--color-secondary-text);
}

main section:nth-child(4) ul {
	display:flex;
    scroll-snap-type:x mandatory;
    scroll-behavior:smooth;
    gap:1rem;
    padding-top: var(--padding-medium);

    overflow-x: scroll;
    scrollbar-width: none;

    anchor-name: --carousel;

	li{
        flex-basis: 33.33%;
        flex-shrink:0;

		article {
            height: 27rem;

			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto  auto 1fr;

			background-color: var(--color-elevated-background);
			border-radius: 1rem;

			img {
				border-radius: 1rem 1rem 0 0;
				width: 100%;
				object-fit: cover;
			}

			h3 {
				font-size: var(--fontsize-s);
				margin: 1rem 1rem 0 1rem;
			}

			p {
				font-size: var(--fontsize-xs);
                margin: 0 1rem 1rem 1rem;
			}

			p:last-of-type {
				border: 1px solid var(--color-stroke);
				width: fit-content;
				padding: .1rem .4rem;
				border-radius: 2rem;
				font-size: var(--fontsize-xxs);
			}

			@media (width > 40em) {

				h3 {
					font-size: var(--fontsize-l);
                    margin: 1.5rem 1.5rem 0 1.5rem;
				}

				p {
					font-size: var(--fontsize-s);
                    margin: 0 1.5rem 1.5rem 1.5rem;
				}
			}
		}
        article:hover, a:focus {
            background-color: var(--color-extra-background);
        }
    }
}

    

        


/* scroll knopjes */
main section:nth-child(4) ul::scroll-button(*) {
    aspect-ratio:1;
    color: var(--color-extra);
    background-color: var(--color-extra);
    border-radius: .5rem;
    border:none;
    cursor:pointer;

    position:absolute;

    position-anchor: --carousel;
    position-area: top;
    justify-self: end;

	bottom:calc(anchor(top) + .5em);
	width:2em;
	height:2em;
  }
  
  main section:nth-child(4) ul::scroll-button(right) {
    content: '' / 'Volgende';

	right:anchor(right);

	background-image: url("../images/rightarrow.png");
	background-size: cover;
  }
  
  main section:nth-child(4) ul::scroll-button(left) {
    content: '' / 'Vorige';

	right:calc(anchor(right) + 2.5em);

    background-image: url("../images/leftarrow.png");
	background-size: cover;
  }
    





  /*********************//*********************/
/*********     spotify  section 5  *********/
/*********************//*********************/
main section:nth-child(5) {
    padding: 1rem;
    border: 1px solid var(--color-stroke);
    border-radius: .5rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr;
  
    align-items: center;
    text-align: center;

    h3 {
        margin: 0;
    }

    p {
        color: var(--color-secondary-text);
        margin: 0;
    }

    img {
        justify-self: center;
        width: 64px;
    }

    a {
        width: fit-content;
        justify-self: center;
        background-color: var(--color-extra);
        color: var(--color-dark_background);
        padding: var(--padding-small) 1.25rem;
        border-radius: .5rem;
    }

    button {
        background-color: var(--color-background);
        border: none;
        justify-self: right;
        align-self: top;
        grid-row-start: 1;
    }
    

    @media (width > 48em) {
        text-align: left;
        grid-template-columns: auto 1fr auto auto;
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;

        img, a, button {
            grid-row-start: span 2;
        }
    
        h2 {
            grid-row-start: 1;
            grid-column-start: 2;
        }
        p {
            grid-row-start: 2;
            grid-column-start: 2;
        }
    }

    
}





/*********************//*********************/
/*********     leukste concerten   section 6  *********/
/*********************//*********************/
main section:nth-child(6) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;

    h2 {
        grid-area: 1 / 1 / 2 / 2;
    }
    a {
        grid-area: 1 / 1 / 2 / 2;
        justify-self: right;
    }
    ul {
        grid-area: 2 / 1 / 3 / 2;
    }
}

main section:nth-child(6) {
    /* het 'toon alle' knopje */
    a:nth-child(2) {
        color: var(--color-extra);
        padding: .25rem  var(--padding-small);
        border-radius: 2rem;
        background-color: var(--color-extra-background);
    }


    h3{
        margin: 0;
        font-size: 16px;
    
        @media (width > 48em) {
            font-size: 18px;
        }
    }

    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: .5rem;
    
        @media (width > 48em) {
            grid-template-columns: 1fr 1fr;
        }
    }

    article {
        background-color: var(--color-elevated-background);
        border-radius: 1rem;
        padding: var(--padding-medium);
        height: 6rem;

        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto auto;
        column-gap: 1rem;

        grid-template-areas:
        "img titel ster"
        "img tekst ster"
        "img info  ster";

        img {
            height: 2.5rem;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: .5rem;

            grid-area: img;
            align-self: center;
        
            @media (width > 48em) {
                height: 4rem;
            }
        }

        h3 {
            grid-area: titel;
        }

        p {
            grid-area: tekst;
            color: var(--color-secondary-text);
            margin: 0;
            font-size: var(--fontsize-xxs);
        
            @media (width > 48em) {
                font-size: var(--fontsize-xs);
            }
        }

        div {
            grid-area: info;
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: var(--fontsize-xs);

            time, svg:nth-of-type(1) {
                color: var(--color-extra-secondary);
            }
            p, svg:nth-of-type(2) {
                color: var(--color-extra);
            }
        }
        
        /* sterretje */
        button{
            grid-area: ster;
            border: none;
            background-color: var(--color-elevated-background);
            svg {
                align-self: center;
                fill: var(--color-secondary-text);
                padding: var(--padding-small);
            }
            svg:hover {
                fill: var(--color-ster);
                background-color: var(--color-stroke);
                border-radius: 1rem;
                transition: 200ms;
            }
        }
        button:active {
            svg {
                fill: var(--color-ster);
            }
        }
            
    }

    article:hover {
        button {
            background-color: var(--color-extra-background);
        }
        background-color: var(--color-extra-background);
    }
    a:focus {
        button {
            background-color: var(--color-extra-background);
        }
        article {
            background-color: var(--color-extra-background);
        }
    }
}