

h4 {
    margin: 0;
}
main section  {
	padding: 1rem 0;
  }


/*********************/    /*********************/
/******        Event   section 1         ******/
/*********************/   /*********************/

h1 {
    margin:0;
    text-align: center;
    font-size: 1.75rem;

    @media (width > 48em) {
        font-size: 3.5rem;
        text-wrap: balance;
    }
}

main section:nth-child(1) {
    background-image: url('../images/e_neighbourhoodcover.webp');
    background-repeat: no-repeat;
    /* filter: blur(32px); */
    /* height: 50vh; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid var(--color-stroke);

    img{
        aspect-ratio: 16 / 9;
        border-radius: 1rem;
        object-fit: cover;
        max-inline-size: 320px;
    
        @media (width > 48em) {
            max-inline-size: 375px;
        }
    
    }


    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        flex-wrap: wrap;

        li {
            display: flex;
            align-items: center;
            gap: .5rem;

            a {
                text-decoration: underline color-mix(in srgb, var(--color-secondary-text) 50%, transparent);
                text-underline-offset: 0.25rem;
                text-decoration-thickness: 2px;
                text-decoration-skip-ink: none;
            }   
                main section:nth-child(1) a:hover{
                    text-decoration: underline var(--color-secondary-text);
                } 
        }
    }   
}

main section:nth-child(1) svg, main section:nth-child(1) li {
    fill: var(--color-secondary-text);
    color: var(--color-secondary-text);
}

main section:nth-child(1) button {
    color: var(--color-extra);
    /* de color mix code van de ticketmaster website gekopierd */
    background-color:  color-mix(in srgb, var(--color-extra),transparent calc(100% - (16% * 1)));
    border-radius: 1rem;
    border: none;
    padding-inline: .75rem;
    block-size: 2rem;

    svg {
        fill: var(--color-extra);
    }
}
    main section:nth-child(1) button:hover {
        background-color:  color-mix(in srgb, var(--color-extra),transparent calc(100% - (25% * 1)));
    }


    


/*********************/    /*********************/
/******     main   section 2   tickets      ******/
/*********************/   /*********************/
main > section:nth-child(2) {
    padding: 0;
    /* grid doet raar */
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;


    h2 {
        background-color: pink;
    }
    ul:first-child {
        grid-row-start: 2;
        background-color: red;
    }
    button:first-child {
        grid-row-start: span 2;
        height: fit-content;
        background-color: yellow;
    }

    /* ticket alerts */
    section:nth-child(1) {
        /* doet het niet  */
        background-color: hotpink;
    

        border: 1px solid var(--color-stroke);
        border-radius: 1rem;
        background-color: yellow;

        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;

        svg:first-child{
            fill: var(--color-text_reverse);
            background-color: var(--color-extra);
            border-radius: .5rem;
            grid-column-start: 1;
        }
        h3 {
            grid-column-start: 2;
            grid-row-start: 2;
        }
        p {
            color: var(--color-secondary-text);
            grid-column-start: 2;
            grid-row-start: 2;
        }
        button {
            grid-column-start: 3;
            grid-row-span: 2;
        }
    }

    /* entreetickets */
    section:nth-child(2){
        background-color: aquamarine;
        /* doet het niet */

        li {
            background-color: var(--color-elevated_background);
            border-radius: 0.75rem;
            padding: 1rem;

            a {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto auto;

                h4{
                    grid-area: 1 / 1 / 2 / 2;
                }
                p {
                    grid-area: 2 / 1 / 3 / 2;

                    color: var(--color-secondary-text);
                    margin: 0;
                    font-size: .75rem;
                }
                div {
                    grid-area: 1 / 2 / 3 / 3;

                    p {
                        display: flex;
                        align-items: center;
                        background-color: var(--color-extra);
                        border-radius: 1rem;
                        padding: .25rem .5rem;
                        height: fit-content; 
                        font-size: .75rem;
                        color: var(--color-text_reverse);
                    }

                    svg {
                        fill: var(--color-text-dark);
                    }
                }
            }
        }
    }

    /* overige tickets */
    section::nth-child(3) {
        background-color: lightgreen;
    }
}





/* main section:nth-child(2) li:nth-child(1) a div:nth-of-type(2), main section:nth-child(2) li:nth-child(3) a div:nth-of-type(2), main section:nth-child(2) li:nth-child(5) a div:nth-of-type(2) {
    background-color: var(--color-inactive);
}
main section:nth-child(2) li:nth-child(1) a div:nth-of-type(2) p, main section:nth-child(2) li:nth-child(3) a div:nth-of-type(2) p, main section:nth-child(2) li:nth-child(5) a div:nth-of-type(2) p { 
    color: var(--color-secondary-text);
}
main section:nth-child(2) li:nth-child(1) a div:nth-of-type(2) svg, main section:nth-child(2) li:nth-child(3) a div:nth-of-type(2) svg, main section:nth-child(2) li:nth-child(5) a div:nth-of-type(2) svg { 
    fill: var(--color-secondary-text);
} */




/******    INFORMATIE      ******/
main > section:nth-child(3) {

    /* wie gaan er */
    section:nth-child(2) {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        h3 {
            grid-area: 1 / 1 / 2 / 2;
        }
        p {
            grid-area: 2 / 1 / 3 / 2;
        }
        button:first-of-type {
            grid-area: 1 / 1 / 3 / 2;
            justify-self: right;
            height: fit-content;
        }

        /* hoe krijg ik deze naast elkaar en niet op elkaar?? */
        button:nth-of-type(2) {
            grid-area: 4 / 1 / 5 / 2;
        }
        button:last-of-type {
            grid-area: 4 / 1 / 5 / 2;
            height: fit-content;
        }

        button {
            background-color: var(--color-extra-background);
            color: var(--color-extra);
            padding: .5rem 1rem;
            border-radius: 1rem;
            border: none;
            font-size: var(--fontsize-s);
            width: fit-content;
        }
        p {
            color: var(--color-secondary-text);
        }
    }

    /* artiesten */
    section:nth-child(3) {
        article {
            background-color: var(--color-elevated-background);
            padding: 1rem;
            border-radius: 1rem;
            display: grid;
            grid-template-columns: 1fr;
            gap: .5rem;
            align-items: center;
            justify-items: center;

            font-size: var(--fontsize-s);

            img {
                height: 5rem;
                border-radius: 50%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
            p {
                color: var(--color-secondary-text);
            }

            button {
                background-color: var(--color-extra);
                color: var(--color-text_reverse);
                height: fit-content;
                padding: .5rem 1rem;
                border-radius: 1rem;
                border: none;
            }

            @media (width > 30em) {
                grid-template-columns: auto 1fr auto;
                grid-template-rows: 1fr 1fr;
                column-gap: 1rem;
                justify-items: start;
                img {
                    grid-area: 1 / 1 / 3 / 2;
                }
                h3 {
                    grid-area: 1 / 2 / 2 / 3;
                }
                p {
                    grid-area: 2 / 2 / 3 / 3;
                }
    
                button {
                    grid-area: 1 / 3 / 3 / 4;
                }
            }
        }
    }

    /* locatie */
    section:nth-child(4) {
        font-size: var(--fontsize-s);
        display: grid;
        gap: 1rem;
        img {
            width: 100%;
            border-radius: 1rem;
        }
        h4 {
            color: var(--color-secondary-text);
        }
        li {
            color: var(--color-secondary-text);
            display: flex;
            align-items: center;
            gap: .5rem;
        }
        li:nth-child(2){
            color: var(--color-extra);
        }
        svg {
            height: 1.5rem;
        }

        @media (width > 30em) {
            display: grid;
            grid-template-columns: 1fr 1fr;

            img, h4, ul{
                grid-row-start: 2;
            }
            h4, ul{
                grid-column-start: 2;
            }
            ul {
                margin-top: 2rem;
            }
        }
    }

    /* genres */
    section:nth-child(5) {
        ul {
            display: flex;
            gap: .5rem;
        }
        a {
            font-size: var(--fontsize-xs);
            background-color: var(--color-extra-background);
            color: var(--color-extra);
            padding: .25rem .75rem;
            border-radius: 1rem;

            @media (width > 40rem) {
                font-size: var(--fontsize-s);
            }
        }
    }
}


