/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	color-scheme: light dark;

    --color-text: light-dark (white, #1a2129);


	--color-text-dark:#1a2129;
    --color-secondary-text: #b5bfca;
    --color-dark_background:#00131a;
    --color-elevated_background:#1a2129;
	--color-stroke: #2e3a47;

	--color-button: #022d3d;

	--color-extra: #00b6f0;
	--color-extra-secondary: #fe4a49;
	--color-ster: #ffa600;
}


body{
    color: var(--color-text);
    background-color: var(--color-dark_background);
    color-scheme: light dark;
	padding: 0;
	margin: 0;


    font-family: "proxima-nova", sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-text);
}


button {
	appearance: none;
	font: inherit;
}
	button :active {
		translate: 0 1px;
	}



ul {
    list-style-type: none;
    padding: 0em;
    margin: 0em;
}


/************/
/*    HEADER    */
/************/
header nav {
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 1rem;

	border-bottom: 1px solid var(--color-stroke);
}
	header nav img {
		/* Goede afb downloaden zonder de extra padding / aanpassen  */
		width: 200px;
	}
	header nav ul{
		display: flex;
		gap: 1rem;
	}




/************/
/* HET MENU */
/************/

	nav button {
		position:relative;
		z-index:100;
	  }
	  
	nav.toonMenu button img {
		content:url("data:image/svg+xml;utf8,<svg aria-label='CloseAlt' width='32' height='32' fill='currentcolor' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' preserveAspectRatio='xMidYMid meet'><path d='M17.414 16l7.293-7.293a.999.999 0 1 0-1.414-1.414L16 14.586 8.707 7.293a.999.999 0 1 0-1.414 1.414L14.586 16l-7.293 7.293a.999.999 0 1 0 1.414 1.414L16 17.414l7.293 7.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L17.414 16z'/></svg>");
	  }

/*  */
header button{
    appearance: none;
    width: 2.5em;
    aspect-ratio: 1/1;
 
    border: none;
    padding: 0;
	background-color: var(--color-dark_background);
    
    display: grid;
    justify-items: center;
    align-items: center;
    position:relative;
    z-index: 1;
}
button span {
    display: block;
    width: 1.5em;
    height: .1em;
    background-color: var(--color-secondary-text);
    grid-row-start: 1;
    grid-column-start: 1;
    transition: .25s;
}
button span:nth-of-type(1) {
    translate: 0 -.4em;
}
button span:nth-of-type(3) {
    translate: 0 .4em;
}
button.kruisje span:nth-of-type(1) {
    translate: 0 0;
    rotate: 45deg;
}
button.kruisje span:nth-of-type(2) {
    scale: 0 1;
}
button.kruisje span:nth-of-type(3) {
    translate: 0 0;
    rotate: -45deg;
}
/*  */

  
  nav ul { 
	position:fixed;
	left:0;
	right:0;
	top:6.5rem;
	bottom:0;
	
	translate:100% 0%;
  }
  
  /* als menu open is */
  nav.toonMenu ul {
	translate:0% 0%;

	background-color: var(--color-dark_background);

	display: flex;
	flex-direction: column;
	gap: .5rem;

	font-style: normal;
  }

  nav.toonMenu ul li a{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	color: var(--color-secondary-text);
  }

  nav.toonMenu ul li:first-child a {
	background-color: var(--color-extra);
	border-radius: .5rem;
	padding: .5rem;
	color: var(--color-text-dark);

	justify-content: center;
  }




@media (width > 48em) {
	nav button {
		display:none;
	}

	nav ul {
    	position:static;
    	translate: 0 0;
  	}
}	

 
















/* pagina een bepaalde breedte geven */

footer, main section:nth-child(2), main section:nth-child(3), main section:nth-child(4), main section:nth-child(5), main section:nth-child(6) {
	margin: auto;
	padding: 0 1rem;


	/* dit heb ik uit de ticketswap website gekopierd en aangepast */
	/* max-inline-size: calc(var(--_column-width) * 12 + var(--_gutter-width) * 11 + var(--_grid-padding) * 2); */
	max-inline-size: calc(3.5rem * 12 + 1rem * 11 + 2rem * 2);

	@media (width > 48em) {
		padding: 0 2rem;
	}	
}







  /*******************/
  /*     FOOTER     */
  /*******************/

.footer-inhoud {
	border-top: 1px solid var(--color-stroke);
	display: grid;
	gap: 2rem;
}

	.footer-inhoud {
		padding-block: 2rem;

		@media (width > 48em) {
			grid-template-columns: repeat(3, 1fr);
		}	
	}


footer a, footer p{
	font-size: 0.75rem;
	color: var(--color-secondary-text);
}

footer h4 {
	margin: 0;
	margin-bottom: 0.75rem;
	font-weight: 400;
}

	footer section:first-of-type a {
		color: var(--color-extra);
	}



	footer section:nth-child(2) li, footer section:nth-child(2) a {
		padding-block: .5rem;

		@media (width > 48em) {
			padding-block: 0;
		}
	}
	footer section:nth-child(2) nav{
		margin-bottom: 2rem;
	}
	footer section:nth-child(2) a:hover {
		color: var(--color-text);
		transition: color 500ms;
	}

	




footer > section:first-child {
	display: flex;
	align-items: center;
	border-top: 1px solid var(--color-stroke);
	border-bottom: 1px solid var(--color-stroke);
}
	footer section:first-child div:first-child {
		display: flex;
		flex-direction: column;
		padding-block: 2rem;
		/* ik snap niet waarom die niet de volledige breedte van de zin pakt */
	}
	footer section:first-child ul {
		display: flex;
		gap: 1em;
		flex-basis: 100%;
		justify-content: space-between;
		overflow-x: scroll;
		scrollbar-width: none;
	}
		footer section:first-child ul img {
			height: 40px;
		}



.download button {
	color: var(--color-extra);
	padding: 1rem;
	border-radius: .5rem;
	width: 100%;

	background-color: var(--color-button);
	border: none;
	font-weight: 600; 
}

.download {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* appstore / playstore */
.download div:nth-child(1), .download div:nth-child(2)  {
	display: flex;
}
	.download img {
		width: 115px;
	}
	.download p {
		margin: 0;
	}

/* websitevanhetjaar div */
.event-award  {
	display: flex;
	gap: 1rem;
}
.event-award img {
		width: 75px;
	}


/* appstore section */
.download > div:nth-child(2) {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 1rem;
	width: 100%;
}

	.rating{
		display: flex;
		flex-direction: column;
	}
	.rating ul{
		display: flex;
	}
	.rating svg {
		color: var(--color-ster);
		fill: var(--color-ster);
	}
	